<launch>
  <node pkg="robot_localization" type="ukf_localization_node" name="ukf_second_amcl" clear_params="true">
    <rosparam command="load" file="$(find robot_localization)/params/ekf_mars_second_amcl.yaml" />

    <remap from="odometry/filtered" to="/odom_filtered_amcl"/>
   <!--  Placeholder for output topic remapping
    <remap from="odometry/filtered" to=""/>
    <remap from="accel/filtered" to=""/>
    -->

  </node>
</launch>
